# Prerequisites
*.d

# Ignore C++ executable files
*.out
*.exe
*.app

# Ignore Unix executables (no extension)
# Ignore files with no extension and executable permissions
# Commented out overly broad rule:
# */*
# Keep ignoring main (assuming "main" is Unix exec):
main

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# VSCode
.vscode/

# OSx
*.dSYM

# Ignore everything in src/ except specific file types
src/*
!src/*.cpp
!src/*.hpp
!src/makefile
